<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Istok+Web&v2' rel='stylesheet' type='text/css'>
<style>
body { 
text-align: center; 
font-family: 'Istok Web', sans-serif;
font-size: 18px;
}

#logo {
text-align: justify; 
width: 650px; 
height: 500px; 
background: white; 
padding: 50px; 
margin: 0 auto; 
}

</style>
</head>
<body>
<div id='logo'>
<img src="{{ STATIC_URL }}theme/img/openrdi.png" alt="openrdi" />
<p>This website is in private beta at the moment.  OpenRDI is a global partnership that seeks to increase resilience by facilitating the sharing of disaster and climate change data.  For information about the initiative, please send us a note at <a href="mailto:info@openrdi.org">info@openrdi.org</a></p>
</div>
</body>
</html>
