{% extends "page_layout.html" %}

{% block head %}
{{ block.super }}
<style>

{% if object.banner %}
#header {
  background: #fff url({{ object.banner.url }}) repeat-x;
  font-size: 1.2em;
}
{% endif %}

{% if object.logo %}
#logo {
  width: 550px;
  background: url({{ object.logo.url }}) no-repeat;
}
{% endif %}

{% if object.color %}
  #crossbar {
    background: {{ object.color.crossbar_background }};
    color: {{ object.color.crossbar_font }};
  }

  a {
    color: {{ object.color.hyperlink }};
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    color: {{ object.color.font }};
  }

  .help,
  .secondary {
    color: {{ object.color.font }};
  }
{% endif %}
</style>
{% endblock %}

{% block main %}
<div class="twocol">
  <h2>{{ object.name }}</h2>
</div>
{% endblock %}

{% block sidebar %}
<div class="threecol">
 <h3>Data</h3>
  <ul>
  {% for layer in object.layers %}
   <li>
    <a href="{{ layer.get_absolute_url }}">{{ layer.title }}</a>
   </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
