{% extends "events/base.html" %}

{% block head %}
{{ block.super }}
<style>
#header-featured {
  width: 600px;
}

.events-title {
  margin: 10px 0px 10px 60px;
}

.event-portfolio {
   border-top: 1px solid gray; 
   overflow: hidden;
   padding: 1.5em 16px 1.5em 0;
   position: relative;
}

.event-featured-map {
   float: left;
}

.event-side {
}

.event-title {
    font-size: 32px;
    text-decoration: none;
    margin-top: 0px;
    letter-spacing: -2px;
}

.event-url {
    font-size: 24px;
    text-decoration: none;
    margin-top: 0px;
}

.event-abstract {
    margin-top: 180px;
}

.event-side {
    margin-left: 600px;
    padding-left: 40px;
}

</style>
{% endblock %}

{% block main %}
<div class="onecol">
  <h1 class="events-title">Events</h1>
  {% for object in object_list %}
    <div class="event-portfolio">
     <div class="event-featured-map">
      {% if object.banner %}
       <div style="background: #fff url({{ object.banner.url }}) repeat-x;"
          id="header-featured">
         <div class="wrap, selfclear">
        {% if object.logo %}      
            <a style="width: 100%; background: url({{ object.logo.url }}) no-repeat;"
               id="logo" href="{{ object.get_absolute_url }}">{{ object.name }}</a>
        {% endif %}
        </div>
      </div>
      {% endif %}
<!--
      {% for map in object.featured %}
        {% if forloop.first %}
        <iframe style="border: none;" height="300" width="600"
              src="{{ map.get_absolute_url }}/embed"></iframe>
        {% endif %}
       {% endfor %}
-->
     {% if object.preview %}
        <img src="{{ object.preview.url }}" width="600px" height="350px" style="border-top: 3px solid black;"/>
     {% endif %}

    </div>
     <div class="event-side">
       <a class="event-title" href="{% url event-detail object.slug %}">{{ object.name }}</a>
         <div class="event-abstract"><p>{{ object.abstract|safe }}</p></div>
         <a class="event-url" href="{% url event-detail object.slug %}">{{ object.domain }}</a>
     </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
