{% extends "events/base.html" %}

{% block optionalmenu %}
{% endblock %}

{% block head %}
{{ block.super }}
<style>

{% if object.banner %}
#header {
  background: #fff url({{ object.banner.url }}) repeat-x;
  font-size: 1.2em;
}
{% endif %}

{% if object.logo %}
#logo {
  width: 550px;
  background: url({{ object.logo.url }}) no-repeat;
}
{% endif %}

{% if object.colors %}
  #header {
    border-bottom: 2px solid {{ object.colors.crossbar_background }};
  }

  #crossbar {
    background: {{ object.colors.crossbar_background }};
    color: {{ object.colors.crossbar_font }};
    border-bottom: 2px solid {{ object.colors.crossbar_background }};
  }

  .threecol a {
    color: {{ object.colors.hyperlink }};
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    color: {{ object.colors.body_font }};
  }

  .help,
  .secondary {
    color: {{ object.colors.body_font }};
  }
{% endif %}
</style>
{% endblock %}

{% block main %}
<div class="twocol">
  <h2>{{ object.name }}</h2>
  <p>{{ object.abstract }}</p>

  <div class='featuredmaps'>
   <div class='featuredmap'>
    {% for map in object.featured %}
    <iframe style="border: none;" height="300" width="600" src="{{ map.get_absolute_url }}/embed"></iframe>   
      <h3>{{ map.title }}</h3>
     <p>{{ map.abstract }}</p>
    {% endfor %} 
   </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="threecol">
 <h3>Maps</h3>
  <ul>
  {% for themap in object.maps.all %}
   <li>
    <a href="{{ themap.get_absolute_url }}/view">{{ themap.title }}</a>
   </li>
  {% endfor %}
  </ul>

 <h3>Data</h3>
  <ul>
  {% for layer in object.layers %}
   <li>
    <a href="{{ layer.get_absolute_url }}">{{ layer.title }}</a>
   </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
