{% extends "events/base.html" %}

{% block head %}
{% include "geonode/ext_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
{% autoescape off %}

  var exploreMapButton = new Ext.Button({
     renderTo: 'explore_map', 
     text: "Explore Maps",
     handler: function(){ window.location = "{% url geonode.maps.views.maps_search_page %}"; }
  });

  var createMapButton = new Ext.Button({
     renderTo: 'create_map', 
     text: "Create Map",
     handler: function(){ window.location = "{% url geonode.maps.views.newmap %}"; }
  });

  var submitForm = function() {
      Ext.query('#data_block form')[0].submit();
  };

  var searchButton = new Ext.Button({renderTo: 'submit_search', text: "Search",
                                     handler: submitForm});

  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 200});

{% endautoescape %}
});
</script>


<style>

{% if object.banner %}
#header {
  background: #fff url({{ object.banner.url }}) repeat-x;
  font-size: 1.2em;
}
{% endif %}

{% if object.logo %}
#logo {
  width: 550px;
  background: url({{ object.logo.url }}) no-repeat;
}
{% endif %}

{% if object.color %}
  #crossbar {
    background: {{ object.color.crossbar_background }};
    color: {{ object.color.crossbar_font }};
  }

  a {
    color: {{ object.color.hyperlink }};
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    color: {{ object.color.font }};
  }

  .help,
  .secondary {
    color: {{ object.color.font }};
  }
{% endif %}
</style>
{% endblock %}

{% block main %}
<div class="twocol">
  <h2>{{ object.name }}</h2>
  <p>{{ object.abstract }}</p>

  <div class='featuredmaps'>
   <div class='featuredmap'>
    {% for map in object.featured %}
    <iframe style="border: none;" height="300" width="600" src="{{ map.get_absolute_url }}/embed"></iframe>   
      <h3>{{ map.title }}</h3>
     <p>{{ map.abstract }}</p>
    {% endfor %} 
   </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="threecol">
 <h3>Maps</h3>
  <ul>
  {% for themap in object.maps.all %}
   <li>
    <a href="{{ themap.get_absolute_url }}/view">{{ themap.title }}</a>
   </li>
  {% endfor %}
  </ul>

<!--added button-->
  <div class="block">
    <div class="selfclear">
      <div id="explore_map" class="content-button"></div>
      <div id="create_map" class="content-button"></div>
    </div>
  </div>
<!--finish added button part-->

 <h3>Data</h3>
  <ul>
  {% for layer in object.layers %}
   <li>
    <a href="{{ layer.get_absolute_url }}">{{ layer.title }}</a>
   </li>
  {% endfor %}
  </ul>

  <div id="data_block" class="block">
    <!-- Data search text box and button -->
    <form action="{% url search %}" method="POST">
      {% csrf_token %}
        <table>
          <tr>
            <td>
              <input type="text" id="search_query" name="q"/>
            </td>
            <td>
              <div id="submit_search"></div>
            </td>
          </tr>
        </table>
        <a href="{% url search %}">Advanced Search</a>
    </form>
  
    <!-- Links to specialized views of data -->
    <!-- Upload data button (link?) -->
    <a class="layer-upload-link" href="{% url geonode.maps.views.upload_layer%}">Upload data</a>
  </div>
</div>
{% endblock %}
